<div class="page-header">
  <%= link_to new_service_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Service
  <% end %>
  <h1>Listing services</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Hospital</th>
      <th>Department</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @services.each do |service| %>
    <tr>
      <td><%= service.hospital %></td>
      <td><%= service.department %></td>
      <td><%= link_to 'Show', service %></td>
      <td><%= link_to 'Edit', edit_service_path(service) %></td>
      <td><%= link_to 'Destroy', service, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
