<%= simple_form_for(@department, :defaults => { :input_html => { :class => 'input-xlarge' } }) do |f| %>
  <%= f.error_notification %>
<div class="gb_padding">
  <div class="form-inputs">
    <%= f.input :name %>
    <% if current_user.try(:role) == AppVariables::SUPER_ADMIN %>
    	<%= f.association :hospitals, :wrapper_html => { :class => 'form_last_field' } %>
    <% end %>
  </div>
</div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
  </div>
<% end %> 
