<div class="page-header">
  <%= link_to new_department_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Department
  <% end %>
  <h1>Listing departments</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Hospital</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @departments.each do |department| %>
    <tr>
      <td><%= department.name %></td>
      <td><%= department.hospital %></td>
      <td><%= link_to 'Show', department %></td>
      <td><%= link_to 'Edit', edit_department_path(department) %></td>
      <td><%= link_to 'Destroy', department, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
