<div class="page-header">
  <%= link_to hospitals_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <% if can? :edit, @hospital %>
    <%= link_to edit_hospital_path(@hospital), :class => 'btn btn-primary' do %>
      <i class="icon-pencil icon-white"></i>
      Edit
    <% end %>
  <% end %>
  <h1>Hospital Detail</h1>
</div>

<dl class="show_page gb_padding" style="min-height:225px">
  <% if @hospital.image_file_name.present? %>
    <div style="float:right">
      <%= link_to image_tag(@hospital.image.url(:medium)), @hospital.image.url(:original), :target => "blank" %>
    </div>
  <% end %>
  
  <dt>Name:</dt>
  <dd><%= @hospital.name %></dd>

  <dt>Address:</dt>
  <dd><%= @hospital.address %></dd>

  <dt>City:</dt>
  <dd><%= @hospital.city %></dd>

  <dt>Phone1:</dt>
  <dd><%= @hospital.phone1 %></dd>

  <dt>Phone2:</dt>
  <dd><%= @hospital.phone2 %></dd>

  <dt>Description:</dt>
  <dd><%= @hospital.description %></dd>

  <dt>Departments:</dt>
  <% @hospital.departments.each do |dep| %>
    <dd><%= link_to dep.name, department_path(dep) %></dd>
  <% end %>
  <%=raw "<dd></dd>" if @hospital.departments.empty? %>

</dl>
