<%= simple_form_for(@doctor, :defaults => { :input_html => { :class => 'input-xlarge' } }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :checkup_time %>
    <%= f.input :email %>
    <%= f.input :message %>
    <%= f.input :mobile1 %>
    <%= f.input :mobile2 %>
    <%= f.input :phone1 %>
    <%= f.input :phone2 %>
    <%= f.input :primary_involvement %>
    <%= f.input :name %>
    <%= f.association :department %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
  </div>
<% end %>
