<%= render 'search_block' %>

<div id = "result_block" class="green_block">
  <div class="row">
    <div class="span12">
      <h4>Search Results for:
        <%= @search.doctor.present? ? " #{@search.doctor} | " : " - | " %>
        <%= @search.department.present? ? "#{@search.department} | " : "- | " %>
        <%= @search.hospital.present? ? "#{@search.hospital} | " : "-"  %>
      </h4>
    </div>

    <div id="results">
      <%= render :partial => "#{@search.search_template}_template", :collection => @search_results %>
    </div>
    
  </div>
</div>