<%= render 'search_block' %>

<div id = "result_block" class="green_block">
  <div class="row">
    <div class="span12">
      <h4>Search Results for:
        <%= @search.doctor if @search.doctor.present? %>
        <%= " " + @search.department if @search.department.present? %>
        <%= " " + @search.hospital if @search.hospital.present? %>
      </h4>
    </div>

    <%= render :partial => "#{@search.search_template}_template", :collection => @search_results %>

  </div>
</div>