<%= javascript_tag "var hospitals = #{ Hospital.pluck(:name) };" %>
<%= javascript_tag "var specialities = #{ Department.pluck(:name) };" %>

<div id = "search_block" class="green_block">
	<div class = "row">
		<%= simple_form_for (Search.new), :defaults => {
			:label => false,
			:wrapper_html => { :class => 'span3' },
		} do |f| %>
		<%= f.input :doctor, :placeholder=>"   Doctor's Name" %>
		<%= f.input :department, :placeholder=>"   Department's Name" %>
		<%= f.input :hospital, :placeholder=>"   Hospital's Name" %>
		<%= f.button :submit, 'Get Results'%>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$("#search_department").typeahead({
      source: specialities,
      minLength: 3
    });
	$("#search_hospital").typeahead({
      source: hospitals,
      minLength: 3
    });
	$("#search_doctor").typeahead({
      source: function(query, process) {
        $.ajax({
          url: "/searches/doctors_typeahead.json",
          type: "GET",
          data: {
            query: $("#search_doctor").val()
          },
          dataType: "JSON",
          success: function(results) {
            return process(results);
          }
        });
      },
      minLength: 3
    });
</script>